.minders-table {
    width: 100%;
    border-collapse: collapse;
}

.minders-table th, .minders-table td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #A70909;
}

.minders-table th {
    background-color: #A70909;
    color: white;
}

.minders-table td {
    background-color: white;
    color: black;
}

.minders-table button {
    background-color: #A70909;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background 0.3s ease;
}

.minders-table button:hover {
    background-color: #930606; 
}

.no-minders {
    color: #A70909;
    font-size: 16px;
    padding: 20px;
    text-align: center;
}
