.bookings_{
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    border-left: 5px solid #A70909;
    border-radius: 4px;
    /* align-self: center; */
    align-items: center;
    margin-right: 5%;
}

ul{
    list-style-type: none;
}

.ac-button{
    margin: 0.5rem;
}

.bookingStatus{
    background-color: #22577A;
    color: white;
    padding: 0.3rem;
    border-radius: 1rem;
}

.rm-button{
    padding: 0.5rem;
    margin: 1rem;
}

.rm-button:hover{
    background-color: #1A4766;
}

.deniedStatus{
   background-color:  #A70909;
}

.acceptedStatus{
    background: green;
}

.bookings-table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adding a subtle shadow for depth */
}

.bookings-table thead th {
    border: 1px solid #D3D3D3; /* Softer color for the borders */
    color: white;
    background-color: #A70909; /* Keeping your brand color */
    padding: 15px; /* More padding for a better look */
    text-align: center;
    font-size: 1.2em; /* Slightly larger text for headers */
}

.bookings-table tbody td {
    border: 1px solid #D3D3D3;
    text-align: center;
    padding: 10px;
    color: #333; /* Dark grey for better readability */
    font-size: 1em;
}


.bookings-table tbody tr:hover {
    background-color: #f5f5f5; 
}
