.edit-pet-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

.edit-pet-form input {
  margin-bottom: 10px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form.edit-pet-form label {
  color: black; /* Set label font color to black */
}

form.edit-pet-form label {
  margin-bottom: 5px; /* Add some spacing between labels and inputs */
  color: black; /* Set label font color to black */
  font-weight: bold; /* Make labels bold for better visibility */
}

.edit-pet-form button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  margin-top: 10px;
}

.edit-pet-form button:hover {
  background-color: #0056b3;
}

.edit-pet-form button[type="submit"] {
  background-color: #28a745;
}

.edit-pet-form button[type="submit"]:hover {
  background-color: #218838;
}
