/* Overall container for the profile */
.ViewProfile-container {
    max-width: 760px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border: 3px solid #A70909;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Header with a more subtle appearance */
.ViewProfile-header {
    font-size: 28px;
    font-weight: 600;
    color: #333;
    text-align: center;
    margin-bottom: 30px;
    padding-bottom: 10px;
    position: relative;
}

/* Styling for each information block */
.ViewProfile-block {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border-left: 5px solid #A70909;
    border-radius: 8px;
}

/* Individual label within a block */
.ViewProfile-label {
    font-weight: 600;
    color: #555;
    margin-right: 15px;
    flex-shrink: 0; 
    width: 120px; 
}


.ViewProfile-value {
    font-weight: 400;
    color: #333;
}

/* Adjusting the responsive design for smaller screens */
@media (max-width: 768px) {
    .ViewProfile-container {
        margin: 20px;
        padding: 15px;
    }

    .ViewProfile-header {
        font-size: 24px;
    }

    .ViewProfile-block {
        flex-direction: column;
        align-items: flex-start;
    }

    .ViewProfile-label {
        margin-bottom: 5px;
    }
}
